// Specific CSS for your home-page
.banner {
  color: #4F4F4FFF;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;

}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.content-page {
  background: #3b78e7;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
