<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="" src="http://s2.glbimg.com/DZliyZDuWWJsJo6CmjepCH4_8So=/850x446/s.glbimg.com/po/tt2/f/original/2016/06/14/salvar-links-inbox-by-gmail.png" height="80" width="80">
      </a>
    </div>
  </div>
</nav>
